@model IEnumerable<SchroniskoPsy.Models.Schronisko>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" type="text/css" href="~/css/style.css" />
<h1>Lista schronisk</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miejscowosc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerTel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miejscowosc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerTel)
            </td>
        </tr>
}
    </tbody>
</table>
